

#header{
    text-align:center;
    padding:6px;
    
}
#tweetbox{
    width:600px;
    height:500px;
    background:grey;
    border:2px solid red;
    outline:2px #fff solid;
    margin:0 auto;
    
}

.test{
    text-align:center;
}