<!doctype html>

<html lang="en">
    <head>
        
       <meta charset="utf-8">
        <link rel="stylesheet" href={{ url_for('static',filename='style.css') }} />
       <title> Project 1 </title>
    </head>

    <body>
        <div id="header">
            <h1> Food Tweets </h1> 
        </div>
        <div id="tweetbox">
            <h1 class="test">   </h1>
            <p class="test">  {{tweet_content }} {{ tweet_date }} {{ tweet_author }}  </p>
        </div>
        
    </body>
</html>